/* بارگذاری فونت‌های محلی */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
}

html, body {
  margin: 0px;
  height: 100%;
}
