body {
  background-color: #ffffff !important;
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
}

.home {
  background-color: #ffffff !important;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}

/* استایل تصاویر */
.home .frame {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  object-fit: contain;
}

.home .main-title {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 336px;
  height: 174px;
}

.home .element {
  position: absolute;
  top: 90px;
  left: 0;
  height: 84px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.home .CV {
  position: absolute;
  top: 4px;
  left: 0;
  height: 46px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 35px;
  letter-spacing: -0.70px;
  line-height: normal;
}

.home .portfolio {
  position: absolute;
  top: 34px;
  left: 0;
  height: 84px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.home .scroll {
  position: absolute;
  top: 50px;
  left: 42px;
  width: 30px;
  height: 108px;
}

.home .navbar {
  display: flex;
  width: 843px;
  max-width: calc(100% - 160px);
  align-items: baseline;
  justify-content: space-between;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.home .text-wrapper {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  letter-spacing: 9.60px;
  line-height: normal;
}

.home .research {
  width: fit-content;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -1.00px;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 100;
  color: #000000;
  font-
