body {
  background-color: #ffffff !important;
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
}

.home {
  background-color: #ffffff !important;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}

/* ---------------------------
   HIDE OLD FRAME + OLD VERTICAL LINE
---------------------------- */
.home .frame,
.home .vertical-line {
  display: none !important;
}

/* ---------------------------
   NAVBAR (TOP LINKS)
---------------------------- */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 20px;
  width: 100%;
}

.navbar-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 100;
  position: relative;
  padding-bottom: 4px;
}

/* hover underline red */
.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #d2232a;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.navbar-link:hover {
  color: #d2232a;
}

.navbar-link:hover::after {
  transform: scaleX(1);
}

/* ---------------------------
   MAIN TITLE AREA
---------------------------- */
.home .main-title {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 336px;
  height: 174px;
}

.home .element {
  position: absolute;
  top: 90px;
  left: 0;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 300;
  color: #000;
  font-size: 64px;
}

.home .CV {
  position: absolute;
  top: 4px;
  left: 0;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 200;
  color: #000;
  font-size: 35px;
}

.home .portfolio {
  position: absolute;
  top: 34px;
  left: 0;
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 700;
  color: #000;
  font-size: 64px;
}

.home .scroll {
  position: absolute;
  top: 50px;
  left: 42px;
  width: 30px;
  height: 108px;
}

/* ---------------------------
   DETAILS (RIGHT SIDE TEXT)
---------------------------- */
.home .details {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: right;
}

.home .div {
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 500;
  color: #000;
  font-size: 40px;
}

.home .RESEARCHER-DIGITAL {
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 300;
  color: #d2232a;
  font-size: 24px;
}

.home .text-wrapper-2 {
  font-family: "JetBrains Mono", Helvetica;
  font-weight: 100;
  color: #000;
  font-size: 24px;
}

/* ---------------------------
   RESPONSIVE FRAME (PERCENT-BASED)
---------------------------- */

.frame-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2; /* بالاتر از پس‌زمینه، پایین‌تر از محتوا */
}

.corner, .side {
  position: absolute;
  background: black;
  width: 0.25vw;
}

/* corners */
.corner {
  height: 4vh;
}

.corner::after {
  content: "";
  position: absolute;
  height: 0.25vw;
  width: 4vh;
  background: black;
}

/* TL */
.corner.tl { top: 2%; left: 2%; }
.corner.tl::after { top: 0; left: 0; }

/* TR */
.corner.tr { top: 2%; right: 2%; }
.corner.tr::after { top: 0; right: 0; }

/* BL */
.corner.bl { bottom: 2%; left: 2%; }
.corner.bl::after { bottom: 0; left: 0; }

/* BR */
.corner.br { bottom: 2%; right: 2%; }
.corner.br::after { bottom: 0; right: 0; }

/* SIDE CUTS */
.side {
  height: 3vh;
}

/* Left */
.side.left-top    { left: 2%; top: 35%; }
.side.left-bottom { left: 2%; top: 50%; }

/* Right */
.side.right-top    { right: 2%; top: 35%; }
.side.right-bottom { right: 2%; top: 50%; }

/* ---------------------------
   RESPONSIVE VERTICAL LINE
---------------------------- */
.vertical-divider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30vh;
  background: black;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 1;
  z-index: 1;
}
``
